body{
    background-color: grey;
}

#container{
    background-color: white;
    width: 350px;
}

#input{
    width: 50px;
}

#button{
    background-color: green;
}

.felicitaciones{
    color: green;
}